:root {
    --color-primary: #F53838;
    --color-border: #DDD;
    --color-white: #FFF;
    --color-hr: #EEEFF2;
    --text-primary: #0B132A;
    --text-secondary: #4F5665;
}

#app {
    width: 90vw;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    margin: 4.5rem 0 9rem 0;
    justify-content: space-between;
}

nav .navbar-nav {
    display: flex;
}

nav .navbar-nav p {
    display: flex;
    margin: 0rem 4rem;
    font: 400 1.6rem/1.9rem 'Rubik', sans-serif;
}

nav .navbar-nav p a {
    text-decoration: none;
    color: var(--text-secondary);
}

nav .navbar-form button {
    outline: 0;
    height: 1.9rem;
    border: 0;
    margin: 0 1.5rem;
    background: var(--color-white);
    font: 500 1.6rem/1.9rem 'Rubik', sans-serif;
    cursor: pointer;
}

nav .navbar-form .btn-sign-in {
    color: var(--text-primary)
}

nav .navbar-form .btn-sign-up {
    width: 15rem;
    height: 4.5rem;
    border: 0.1rem solid var(--color-primary);
    color: var(--color-primary);
    border-radius: 5rem;
}

main .preview {
    display: flex;
    justify-content: space-between;
}

main .preview .preview-get-started {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .preview div h1 {
    width: 52rem;
    font: 700 5rem/7rem 'Rubik', sans-serif;
    color: var(--text-primary);
}

main .preview div p {
    width: 52rem;
    font: 500 1.6rem/3rem 'Rubik', sans-serif;
    color: var(--text-secondary);
}

main .preview div button {
    width: 25rem;
    height: 6rem;
    outline: 0;
    border: 0;
    border-radius: 1rem;
    background: var(--color-primary);
    color: var(--color-white);
    font: 700 1.6rem/2.5rem 'Rubik', sans-serif;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 20px 48px -20px rgba(245, 56, 56, 1);
}

main .preview div img {
    background-repeat: none;
}

main .vpn-info {
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main .vpn-info hr {
    height: 12.5rem;
    border: 1px solid var(--color-hr);
}

main .vpn-info .information {
    display: flex;
}

main .vpn-info .information div {
    margin-left: 3.6rem;
}

main .vpn-info .information div .count {
    font: 700 2.5rem/3rem 'Rubik', sans-serif;
}

main .vpn-info .information div .info {
    font: 400 2rem/3rem 'Rubik', sans-serif;
}

main .benefit {
    margin-top: 9.5rem;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5rem;
    /* box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); */
}

main .benefit div .title {
    width: 37rem;
    font: 600 3.5rem/5rem 'Rubik', sans-serif;
    color: var(--text-primary);
}

main .benefit div .paragraph {
    width: 38rem;
    font: 400 1.6rem/3rem 'Rubik', sans-serif;
    color: var(--text-secondary);
}

main .benefit div .information {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

main .benefit div .information p {
    margin-left: 1rem;
    font: 400 1.4rem/3rem 'Rubik', sans-serif;
    color: var(--text-secondary);
}

main .vpn-plans {
    margin-top: 15rem;
    text-align: center;
}

main .vpn-plans .list-plans {
    display: flex;
}

main .vpn-plans div .title {
    font: 600 3.5rem/5rem 'Rubik', sans-serif;
    color: var(--text-primary);
}

main .vpn-plans div .description {
    width: 55rem;
    margin: 0 auto;
    font: 400 1.6rem/3rem 'Rubik', sans-serif;
    color: var(--text-secondary);
    margin-top: 2rem;
}

main .vpn-plans .benefits {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    padding: 8rem 7rem 5rem;
    border: 1px solid var(--color-border);
    border-radius: 1rem;
    margin: 6rem 5rem 15rem;
}

main .vpn-plans .benefits .plans div .paragraph {
    margin-top: 3rem;
    font: 600 1.8rem/3rem 'Rubik', sans-serif;
}

main .vpn-plans .benefits .plans .plans-benefits {
    display: flex;
    width: 19rem;
    margin: 1rem auto;
}

main .vpn-plans .benefits .plans .plans-benefits p {
    font: 400 1.4rem/3rem 'Rubik', sans-serif;
    color: var(--text-secondary);
    margin-left: 2rem;
}

main .vpn-plans .action .value {
    font: 600 2.5rem/3rem 'Rubik', sans-serif;
    color: var(--text-primary);
}

main .vpn-plans .action button {
    width: 15rem;
    height: 4.5rem;
    margin-top: 2rem;
    outline: 0;
    background: var(--color-white);
    font: 700 1.6rem/1.9rem 'Rubik', sans-serif;
    border-radius: 5rem;
    border: 0.2rem solid var(--color-primary);
    color: var(--color-primary);
    cursor: pointer;
}

main .world-map div .title, .subtitle {
    margin: 0 auto;
}

main .world-map div .title {
    width: 38rem;
    text-align: center;
    font: 700 3.5rem/5rem 'Rubik', sans-serif;
    color: var(--text-primary);
}

main .world-map div .subtitle {
    width: 50rem;
    text-align: center;
    font: 500 1.6rem/3rem 'Rubik', sans-serif;
    color: var(--text-primary);
}

main .world-map .map img {
    display:flex;
    margin: 15rem auto 0 auto;
    width: 90%;
}

main .world-map .brands img {
    display:flex;
    margin: 0 auto;
    width: 90%;
}